{% extends 'base.html.twig' %}

{% block body %}
    <h1>Symfony Cinema</h1>
    <hr class="section-divider">
    <div class="section" data-section="1">
        <div class="container container-posters">

            <div>
                <h2>Hot premieres</h2>
                Dodac tutaj style i link do "zobacz wiecej"
            </div>

        <ul class="slides-poster">
            <!-- 2:3 ratio!!! -->
            <li class="slide-poster">
                <img src="{{ asset('images/poster1.png') }}" alt="poster1" class="slide-poster-image" />
            </li>
            <li class="slide-poster">
                <img src="{{ asset('images/poster2.png') }}" alt="poster2" class="slide-poster-image" />
            </li>
            <li class="slide-poster">
                <img src="{{ asset('images/poster3.png') }}" alt="poster3" class="slide-poster-image" />
            </li>
        </ul>

        </div>
        <hr class="section-divider">
    </div>
    <div class="section" data-section="2">
<ul>
    <h2>Now playing...</h2>
    {% for movie in movies %}
        <li>
            {{ include('components/_movie_simple.html.twig', {'movie': movie}) }}
        </li>
    {% endfor %}

</ul>

    <div class="section-divider">
    </div>


{% endblock %}