{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
    <div>{{  }}</div>
    <form method="post" action="">
        <label for="selectedSeat">Choose a Seat:</label>
        <select id="selectedSeat" name="selectedSeat">
            {% for seat in seats %}
                <option value="{{ seat.id }}">{{ seat.getSeatRow() }} - {{ seat.getSeatNumber() }}</option>
            {% endfor %}
        </select>
        <div>
            <button type="submit">Confirm Reservation</button>
        </div>

    </form>
{% endblock %}
