{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_top_header %}
    <h1>Welcome to admin panel</h1>
{% endblock %}

{% block content %}
    <div>
        {% for cinema in cinemas %}
            <div>{{ cinema.city }}</div>
        {% endfor %}
    </div>
{% endblock %}
