{% extends 'base.html.twig' %}

{% block body %}

   <h1>Login</h1>
    {{ error }}

    {% for flashMessage in app.flashes('success') %}
            <div class="alert-success">{{ flashMessage }}</div>
    {% endfor %}

    <form action="{{ path('app_login') }}" method="POST">
        <div class="flex-form">
            <div class="form-row">
                <div>
                    <label>Email</label>
                    <input type="text" name="_username">
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label>Password</label>
                    <input type="password" name="_password">
                </div>
            </div>

            <input type="hidden" name="_target_path" value="{{ path('app_home') }}">

            <button type="submit">Login!</button>
        </div>
    </form>

{% endblock %}



