/* COLOR SCHEMES LIGHT AND DARK */
:root {
    /*--background-color: linear-gradient(f-45deg, orange, gold, orange);*/
    /*--background-color-opaque: linear-gradient(-45deg, rgba(255,165,0,0.5),rgba(255,215,0,0.5),rgba(255,165,0,0.5));*/
    --background-color: linear-gradient(-45deg, navy, rgb(167, 2, 167), navy);
    --background-color-opaque: linear-gradient(-45deg,rgba(0,0,128,0.5), rgba(167,2,167,0.5),rgba(0,0,128,0.5));
    --gold-gradient: linear-gradient(-45deg, gold, darkorange, gold);
    --text-color: #000;
    --container-primary: #eeeeee;
    --container-secondary: #dedede;
    --glow: rgba(164, 84, 241, 0.4);

}

.dark-mode {
    --text-color: whitesmoke;
    --container-primary: #222222;
    --container-secondary: #333333;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: translate 0.3s ease;
}
main.container {
    overflow: hidden;
    min-height: 80vh;
    position: relative;
}

li {
    list-style: none;
}
button {
    background: var(--container-primary);
    border: none;
    border-radius: 3px;
    color: var(--text-color);
    cursor: pointer;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

h1 {
    display: grid;
    place-content: center;
    margin: 0.3em auto;
}
h2 {
    text-align: left;
    margin: 1em;
}
footer {
    text-align: center;
    padding: 1rem;
    width: 100%; /* Ensures the footer stretches across the full width of its parent */
    margin-bottom: 0;
}


body {
    background: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    overflow: auto;
}
a, a:hover, a:checked {
  color: var(--text-color);
    text-decoration: none;
}
.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
}
.modal {
    width: 80vw;
    height: 70vh;
    z-index: 1001;
    background: var(--container-secondary);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-close-modal {
    margin-left: auto;
    margin-right: 0;
    background: none;
}
#modal-content {
    margin: auto 0;
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    color: var(--text-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 1rem;
}
.spinner {
    animation: spin 2s infinite linear;
}
.col-on-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 700px) {
        flex-direction: column;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.theme-toggle {
    border: #353535;
    border-radius: 2px;
    cursor: pointer;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
.hidden-mobile {
    @media screen and (max-width: 700px) {
        display: none;
    }
}
#map {
    height: min(50vh, 600px);
    width: min(90%, 700px);
    margin: 1rem;
    border: 2px solid blueviolet;
    border-radius: 5px;

}
.container {
    background: var(--container-primary);
    width: clamp(100px, 95%, 1500px);
    border-radius: 3px;
    margin: 0 auto;
    overflow: auto;
    /*box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.3);*/
}
.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-more {
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
}
.section-divider {
    background: var(--background-color);
    min-width: 100%;
    border: none;
    height: 0.6rem;
    margin: 2rem 0;
    transform: skewY(-1deg);
}
.section {
    transition: all 0.5s ease;

}
.section-hidden {
    visibility: hidden;
    transform: translateY(100px);
}
/* NAVBAR */
.navbar {
    background-color: var(--container-primary);
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Keeps the navbar on top */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 500; /* Ensures navbar is above other content */
    padding: 0.5rem;
}
.navbar-links {
    display: flex;
}
.navbar-select {
    border: none;
    max-width: 6rem;
    background: none;
    cursor: pointer;
}

.navbar-links a, .navbar-select {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.75rem;
    display: block;
}
.navbar-links a:hover , .navbar-select:focus, .navbar-select:hover {
    transition: all 0.1s linear ;
    background: var(--glow);
    box-shadow: 0 0 10px blueviolet;
}

.navbar-toggle {
    display: none;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 0 5px;
    background: var(--container-primary);
}
.searchbox {
    height: 100%;
    display: flex;
    align-items: center;
}
.search-results {
    position: absolute;
    top: 3.5rem;
    width: clamp(200px, 50%, 500px);
    background: var(--container-primary);
    opacity: 1;
}
.navbar-search {
    border: none;
    border-radius: 3px;
    background: var(--container-secondary);
    color: var(--text-color);
    height: 100%;
    display: block;
}

.searchbox.always-visible:focus-within .search-results {
    display: block; /* or whatever display style you prefer */
}

.container-always-visible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Responsive */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .navbar-links .hide {
        display: none;
    }
    .navbar-toggle {
        display: flex;
    }
    .navbar-links .active {
        display: flex;
    }

}


/* POSTERS */
.slide-poster-image {
    height: 40rem;
    width: auto;
    aspect-ratio: 27 / 40;

    object-fit: cover; /* This will ensure the aspect ratio is maintained */
    cursor: pointer;
    transition: transform 0.2s ease;

}

.slide-poster-image:hover {
    transform: scale(105%);
}


.slide-poster {
    left: 10%;
    @media screen and (max-width: 700px) {
        left: 12.5%;
    }

}

.slides-poster {
    width: 100%;
    margin: auto;
    background: none;
    overflow: hidden;
    position: relative;
}
/*@media screen and (min-width: 700px) {*/
/*.slides-poster:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: -1rem; !* Extend out of the container *!*/
/*    right: -1rem;*/
/*    bottom: -1rem;*/
/*    left: -1rem;*/
/*    box-shadow: 0 0 10px gold;*/
/*    background: var(--gold-gradient);*/
/*    background-size: 400% 400%;*/
/*    animation: shimmer 8s infinite linear;*/
/*    transition: background-position 2s linear;*/

/*}*/
/*.slides-poster:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: -0.5rem; !* Extend out of the container *!*/
/*    right: -0.5rem;*/
/*    bottom: -0.5rem;*/
/*    left: -0.5rem;*/
/*    background: var(--container-primary);*/

/*}*/
/*}*/


@media screen and (max-width: 700px) {
    .container-posters {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .slider-button-right, .slider-button-left {
        display: none;
    }


}
.slider-button-left, .slider-button-right {
    position: absolute; /* Change to absolute positioning */
    top: 50%; /* Align vertically */
    z-index: 150;
    cursor: pointer;
}
.slider-button-left {
    transform: translate(-50%, -50%);
}
.slider-button-right {
    transform: translate(50%, -50%);
}
.slider-button-left {
    left: 0; /* Align to the left */
}

.slider-button-right {
    right: 0; /* Align to the right */
}
/*///////////////////////////////////////////////////////////////*/
/* ABOUT US*/

.about-us-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start of the container */
    margin: auto;
    padding: 1rem;
    height: fit-content;
    width: 90%;
    gap: 1rem; /* Add some space between the slides */
}
.about-us-slide {
    margin: auto;
    background: var(--container-secondary);
    perspective: 1000px;
    width: 100%;
    cursor: pointer; /* Indicates the slide is clickable */
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 5px; /* Rounded corners for a polished look */
    visibility: hidden;
    display: none;
}

.about-us-slide.expanded {
    display: block;
    visibility: visible;
    opacity: 1;
}
.about-us-slide i {
    position: absolute;
    margin-top: 10rem;
    margin-left: 50%;
    transform: translateX(-50%);
}
.about-us-slide.expanded i {
    transition: visibility 0.1s ease;
    visibility: hidden;
}
.container-nav-about-us.tab-list {
    display:none;
}

@media  screen and (max-width: 700px) {
    .about-us-slide p {
        font-size: 1rem;
    }
    .container-nav-about-us.tab-list {
        display: flex;
        justify-content: flex-start;
        gap: 5%;
    }
    .about-us-slide {
        padding: 1rem;
        font-size: 1rem; /* Adjust font size for smaller screens */
    }

}


.about-us-slide h3 {
    color: blueviolet;
    margin: 0.5rem 0;
}
@media screen and (min-width: 700px) {

    .about-us-slide {
        font-size: 1.3rem;
        transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, box-shadow 0.3s ease;
        transform: skewX(-10deg); /* Skews the slides */
        height: 50vh; /* Fixed height, or you can make it responsive */
        overflow: hidden; /* Ensures content fits within the skewed area */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
        border-radius: 5px; /* Rounded corners for a polished look */
        width: 25%;
        margin-inline: 1.5rem;
        visibility: visible;
        display: block;
    }

    .about-us-slide p {
        transition: opacity 0.8s ease;
        line-height: 1.6; /* Improve readability */
        padding: 1rem;
    }


    /* Expanded slide styling */
    .about-us-slide.expanded {
        transform: skewX(0deg);
        width: 100%;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); /* More prominent shadow when expanded */
    }

    /* Styling for the content inside the slides */
    .about-us-slide-content {
        transform: skewX(10deg); /* Counteracts the skew of the slide */
        padding: 2rem;
        height: 100%;
        overflow-y: auto; /* Allows vertical scrolling if content is long */
    }
}
/* Add some hover effects for better user interaction */
.about-us-slide:hover {
    box-shadow: 0 0 25px var(--glow)
}



/* simple movies list */
.container-simple-movie {
    display: flex;
    align-items: center;
    background: var(--container-secondary);
    padding: 0 5%;
    margin-bottom: 3%;
    overflow: visible;
    transition: all 0.5s ease;
    justify-content: left;
    @media screen and (min-width: 700px) {
        font-size: 1.5rem;
    }

}
.container-simple-movie:hover {
    background: var(--background-color);
    color: whitesmoke;
    transform: translateY(-5px);
}
.title-simple-movie {
    font-size: 1.5rem;
    flex: 2; /* Adjust for better spacing */
}

@media screen and (max-width: 700px) {
    .release-date-simple-movie, .rating-simple-movie {
        display: none;
    }
    .title-simple-movie, .genre-simple-movie {
        font-size: smaller;

    }
}
.release-date-simple-movie, .rating-simple-movie {
    margin: 0 1%;
    flex: 1; /* Adjust as needed */
}
.description-simple-movie {
    opacity: 0;
    visibility: hidden;
    max-width: 50%;
    color: var(--text-color);
    left: 50%;
    transform: translate(-50%, -75%);
    position: absolute;
    padding: 10px;
    transition: opacity 0.5s ease-in-out;
}

.genre-simple-movie {
    text-align: right;
    flex: 1; /* Adjust as needed */
}
@media screen and (min-width: 700px) {
    .container-simple-movie:hover .description-simple-movie {
        overflow: visible;
        opacity: 1;
        visibility: visible;
    }
}
#legend:hover .description-simple-movie{
    overflow: visible;
    opacity: 1;
    visibility: visible;
}
#legend {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    user-select: none;
}
.triangle {
    content: "";
    z-index: -1;
    position: absolute;
    width: 10vw; /* Adjust as needed */
    height: 10vw; /* Adjust to maintain the aspect ratio */
    top: 65%;
    left: 50%; /* Center the triangle horizontally */
    background: inherit;
    transform: translate(-50%, 0) rotate(-45deg); /* Adjust horizontal translate for centering */
}

/* Media Queries for responsiveness */
@media (max-width: 600px) {
    .triangle {
;        width: 15vw;
        height: 15vw;
        /* Adjust top or transform properties if necessary */
    }
}

/* MOVIE VIEW */
.movie-page {
    display: grid;
    grid-template-columns: 2fr 3fr;

}

.movie-header {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: flex-start; /* Aligns items to the start of the flex container */
}


.movie-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    margin: 5%;
}
@media screen and (max-width: 700px) {
    .movie-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
}

.movie-title {
    font-size: clamp(16px, 3rem, 100px);
    text-align: left;
    margin: 5%;
}

.movie-details {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 0 1rem 1rem 1rem;
}
.movie-details p {
    margin-bottom: 1rem;
}
.movie-description {
    grid-column: span 2;
    /*width: 90%;*/
    margin: 1rem auto 1rem auto;
    font-size:1rem;
}
.movie-goto-book {
    border-radius: 2px;
    box-shadow: 0 0 15px gold;
    text-align: center;
    text-shadow: 1px 1px gray ;
    padding: 1.5rem;
    height: 5rem;
    margin: 1rem auto;
    color: white;
    background: var(--gold-gradient);
    background-size: 400% 400%; /* Enlarge background size to create the shimmer effect */
    animation: shimmer 8s infinite linear; /* Adjust speed if needed */
    transition: transform 0.5s ease, background-position 2s linear;
}

.movie-goto-book:hover {
    transform: scale(1.05) rotate(-1deg); /* Scales up and rotates slightly on hover */
    animation: shimmer 8s infinite linear, gentle-rock 0.5s ease-in-out infinite forwards;
    transition: transform 0.5s ease, background-position 2s linear; /* Ensure consistent transition */
}
.shimmer {
    box-shadow: 0 0 10px gold;
    background: var(--gold-gradient);
    background-size: 400% 400%;
    animation: shimmer 8s infinite linear;
    transition: background-position 2s linear;
}
.gold-font {
    text-shadow: 0 0 15px gold;
    background: var(--gold-gradient);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 8s infinite linear;

}

@keyframes gentle-rock {
    0%, 100% {
        transform: scale(1.05) rotate(-1deg);
    }
    50% {
        transform: scale(1.05) rotate(1deg);
    }
}
@keyframes shimmer {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.select-cinema-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-width: 700px){
        flex-direction: column;
    }
}
.dropdown {
    margin-bottom: 1rem;
    border: 1px solid var(--container-secondary);
    background-color: var(--container-secondary);
    color: var(--text-color);
    white-space: normal;
}
@media screen and (max-width: 700px){
    .dropdown {
        width: 100%; /* Make the dropdown take the full width, adjust as needed */
    }
}
#selectCinema {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movie-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(300px);
    transition: transform 0.3s ease-in-out, opacity 0.7s ease;
    width: clamp(140px ,15%, 275px);
    opacity: 0;

}
.movie-card img {
    aspect-ratio: 27 /40;
}
.movie-card.movie-card-loaded {
    transform: none;
    opacity: 1;
}
/* Title inside the movie card */
.movie-card-title {
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--container-secondary);
    height: 100%;
}

/* Container for movie cards */
.container-card-movie {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    justify-content: space-evenly;
    gap: 1rem;
}

/* Hover effect for movie cards */
.movie-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

/* FORMS */
/* General form settings */
.flex-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-form input {
    margin-bottom: 1rem;
    width: clamp(200px, 80vw, 700px);

}

.form-row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5%;
    width: 60%;
    @media only screen and (max-width: 700px ) {
        max-width: 100%;
        padding: 0 10px;
    }

}

/* Text and password input styles */
.flex-form input[type="text"],
.flex-form input[type="password"],
.flex-form input[type="email"]{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Select element styles */
.flex-form select,
.flex-form input[type="date"]{
    padding: 0.5rem;
    border: 1px blueviolet solid;
    border-radius: 4px;
    margin-bottom: 1rem;
    width: 100%;
}

/* Radio button and checkbox styles */
.flex-form input[type="checkbox"] {
    width: min-content;
    margin: 0 1rem;
}

/* Label styling for better alignment with inputs */
.flex-form label {
    display: flex;
    /*margin-bottom: ;*/
    min-width: fit-content;
    width: 25%;
}

.flex-form input:focus,
.flex-form select:focus {
    outline: 2px solid blueviolet;
    outline-offset: 2px;
}
/* File Upload Styling */
.flex-form input[type="file"] {
    border: 1px solid blueviolet;
    display: block;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
/* Button Styling */
.flex-form button {
    padding: 0.5rem 1rem;
    background: var(--background-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    width: 50%;
    margin: 1rem auto;
    transition: box-shadow 0.3s linear;
}
.flex-form button:hover {
    box-shadow: 0 5px 15px var(--glow);
}
/* Checkbox alignment with text */
.flex-form input[type="checkbox"] {
    vertical-align: middle;
    margin-top: -1px;
}
.alert-success {
    border: 1px solid #4CAF50;
    background-color: var(--container-secondary);
    color: #4CAF50;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    text-align: center;
}

.profile-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;

}
.user-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 5rem;
}


.user-card-header a:hover {
    background: none;
    text-shadow: 0 0 20px var(--glow);
}
.user-card-header h2 {
    margin: 0;
}

.profile-picture {
    width: clamp(150px, 30%, 300px);
    height: auto;
    object-fit: cover;
    margin-bottom: 2rem;
}
.profile-picture img {
    border-radius: 1000px;
}
.profile-info-container {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 700px) {
        flex-direction: column;

    }
    margin-bottom: 1rem;
}
.profile-bio {
    min-width: 50vw;
    background: var(--container-secondary);
    box-shadow: 0.25rem 0.25rem var(--glow);
    padding: 1rem;
}


.user-info {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

/* PROFILE TABS */
/* Tabs Content Container */
.tabs-content-container {
}

/* Tab Content */
.tab-content {
    padding: 1rem;
    margin-bottom: 2rem;
    display: none; /* Hide all tab content by default */
}

.tab-content.tab--selected {

    display: block; /* Show the selected tab content */
}

/* Tab Navigation */
.tab-navigation {
    text-align: center;
    margin: 1rem auto;
}

.tab-list {
    list-style-type: none;
    padding: 0 0 0 1rem;
    display: flex;
    justify-content: flex-start;
    background: var(--container-secondary); /* Light grey background */
    border-radius: 5px; /* Rounded corners for the tab list */
}

.tab-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px 10px 0 0 ;
}

.tab-item:hover {
    background-color: blueviolet;
}

.tab-item--selected {
    background: blueviolet;/* Even darker grey for selected tab */
}

/* Responsive Design */
@media (max-width: 768px) {
    .tab-list {
        flex-direction: column;
        padding: 0;

    }
    .tab-item {
        width: 100%;
    }
}


.rating {
    unicode-bidi: bidi-override;
    direction: rtl; /* For right-to-left display */
}

.rating .star {
    float: right; /* Arrange stars from right to left */
    width: 1em; /* Size of stars */
    cursor: pointer;
    font-size: 3rem; /* Star size */
    text-decoration: none; /* Remove underline from links */
}

/* Default state with empty star */
.rating .star::before {
    content: '☆'; /* Unicode for empty star */
    color: black; /* Default star color */
}

/* Hover and focus styles */
.rating .star:hover::before,
.rating .star:hover ~ .star::before,
.rating .star:focus::before,
.rating .star:focus ~ .star::before {
    content: '★'; /* Unicode for full star */
    color: gold; /* Color of star when hovered or focused */
}


/* Active style (when a star is selected) */
.rating .star.active::before,
.rating .star.active ~ .star::before {
    color: gold; /* Color of active star */
    content: '★'; /* Unicode for full star */
}

.form-text-area {
    padding: 1rem;
    margin-bottom: 1rem;
    resize: none;
    height: 30vh;
    width: 100%
}

.container-seats {
    background: var(--container-secondary);
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.5);
    border-radius: 3px;
    padding: 1rem;
    margin: auto;
    width: min(95%, 800px);
    text-align: center;
    display: grid;
    gap: 10px;

}
.seat {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s linear;

}
.seat-occupied {
    color: red;
    cursor: not-allowed;
}
.seat-empty {
    color: green;
}
.seat-empty:hover {
    transform: scale(1.5);
}
.seat-selected {
    color: blueviolet;
    transform: scale(1.5);
}

.screen {
    width: 70%;
    height: 3px;
    margin: 0 auto 2rem auto;
    display: grid;
    background: var(--background-color);
    background-size: 400% 400%;
    animation: shimmer 3s infinite;
    box-shadow: 0 0 10px var(--glow);
    grid-column: 2 / -1;
}
