/* COLOR SCHEMES LIGHT AND DARK */
:root {
    --background-color: linear-gradient(-45deg, orange, gold, orange);
    --background-color-opaque: linear-gradient(-45deg, rgba(255,165,0,0.5),rgba(255,215,0,0.5),rgba(255,165,0,0.5));
    --text-color: #000;
    --container-primary: #eeeeee;

}
.dark-mode {
    --background-color: linear-gradient(-45deg, navy, rgb(167, 2, 167), navy);
    --text-color: whitesmoke;
    --container-primary: #222222;

}
/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.2s linear;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

h1, h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    display: grid;
    place-content: center;
    text-align: center;
    margin: 0.3em auto;
}
h2 {
    font-size: clamp(1rem, 3vw, 2rem);
}

body {
    background: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;

}


.theme-toggle {
    border: #353535;
    border-radius: 2px;
    cursor: pointer;
}

.container {
    background: var(--container-primary);
    width: clamp(100px, 90%, 1500px);
    border-radius: 3px;
    margin: 0 auto;
    overflow: auto;
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}
.section-divider {
    background: var(--background-color);
    min-width: 100%;
    border: none;
    height: 0.6rem;
    margin: 2rem 0;
    transform: skewY(-1deg);
}
/* NAVBAR */
.navbar {
    background-color: var(--container-primary);
    opacity: 0.9;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Keeps the navbar on top */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures navbar is above other content */
    padding: 0.5rem;
}

.navbar-logo {
    font-size: 1.5rem;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.75rem;
    display: block;
}

.navbar-toggle, .navbar-search{
    display: none;
    border: none;
    color: var(--text-color);
}
.navbar-toggle {
    font-size: 1.5rem;
    margin: 0 5px;
}
.navbar-search {
    font-size: 1rem;
    border-radius: 3px;
    background: var(--background-color-opaque);

}
.container-always-visible {
    display: flex;
    justify-content: space-between;

}
/* Responsive */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: flex;
        flex-direction: column;
        justify-content: right;
    }
    .navbar-links a {
        display: none;
    }
    .navbar-links .always-visible {
        display: inline;
        max-width: fit-content;
    }
    .navbar-links .active {
        display: flex;
        justify-content: right;
    }

}

/* END NAVBAR */