/* COLOR SCHEMES LIGHT AND DARK */
:root {
    /*--background-color: linear-gradient(-45deg, orange, gold, orange);*/
    /*--background-color-opaque: linear-gradient(-45deg, rgba(255,165,0,0.5),rgba(255,215,0,0.5),rgba(255,165,0,0.5));*/
    --background-color: linear-gradient(-45deg, navy, rgb(167, 2, 167), navy);
    --background-color-opaque: linear-gradient(-45deg,rgba(0,0,128,0.5), rgba(167,2,167,0.5),rgba(0,0,128,0.5));
    --text-color: #000;
    --container-primary: #eeeeee;
    --container-secondary: #dedede;

}

.dark-mode {
    --text-color: whitesmoke;
    --container-primary: #222222;
    --container-secondary: #333333;
}
/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: translate 0.3s ease;
    color: var(--text-color)
}
li {
    list-style: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    display: grid;
    place-content: center;
    margin: 0.3em auto;
}
h2 {
    font-size: clamp(1rem, 3vw, 2rem);
    text-align: left;
    margin: 1em;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
}
a, a:hover, a:checked {
  color: var(--text-color);
    text-decoration: none;
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    color: var(--text-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 1rem;
}
.spinner {
    animation: spin 2s infinite linear;
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.theme-toggle {
    border: #353535;
    border-radius: 2px;
    cursor: pointer;
}


.container {
    background: var(--container-primary);
    width: clamp(100px, 95%, 1500px);
    border-radius: 3px;
    margin: 0 auto;
    overflow: auto;
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
}
.section-divider {
    background: var(--background-color);
    min-width: 100%;
    border: none;
    height: 0.6rem;
    margin: 2rem 0;
    transform: skewY(-1deg);
}
/* NAVBAR */
.navbar {
    background-color: var(--container-primary);
    opacity: 0.9;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Keeps the navbar on top */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures navbar is above other content */
    padding: 0.5rem;
}

.navbar-logo {
    font-size: 1.5rem;
}

.navbar-links {
    display: flex;
}
.navbar-genres {
    border: none;
    max-width: 6rem;

    background-color: var(--container-primary);
    color: var(--text-color);
    cursor: pointer;
}
.navbar-links a, .navbar-genres {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.75rem;
    display: block;
}

.navbar-toggle {
    display: none;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 0 5px;
    background: var(--container-primary);
}
.navbar-search {
    border: none;
    border-radius: 3px;
    background: var(--container-secondary);
    color: var(--text-color)

}
.container-always-visible {
    display: flex;
    justify-content: space-between;

}
/* Responsive */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .navbar-links a, .navbar-genres{
        display: none;
    }
    .navbar-links .active {
        display: flex;
        align-items: flex-end;
    }
    .navbar-links .always-visible {
        display: inline;
        max-width: fit-content;
    }
}


/* POSTERS */
.slide-poster-image {
    height: 40rem;
    width: auto;
    object-fit: cover; /* This will ensure the aspect ratio is maintained */
    cursor: pointer;
    transition: transform 0.2s ease;

}
.slide-poster-image:hover {
    transform: scale(110%);

}
@media screen and (max-width: 700px) {
    .slide-poster-image {
        height: 30vh;
    }
}
.slides-poster {
    height: fit-content;
    overflow: hidden;
    position: relative;
}

.slide-poster {
    margin-left: 20%;
}

.container-posters {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* simple movies list */
.container-simple-movie {
    display: flex;
    align-items: center;
    background: var(--container-secondary);
    padding: 0 5%;
    margin-bottom: 3%;
    overflow: visible;
    transition: all 0.5s ease;
    justify-content: left;

}
.container-simple-movie:hover {
    background: var(--background-color);
    color: whitesmoke;
    transform: translateY(-5px);
}
.title-simple-movie {
    font-size: 1.5rem;
    flex: 2; /* Adjust for better spacing */
}

@media screen and (max-width: 700px) {
    .release-date-simple-movie, .rating-simple-movie {
        display: none;
    }
    .title-simple-movie, .genre-simple-movie {
        font-size: smaller;

    }
}
.release-date-simple-movie, .rating-simple-movie {
    margin: 0 1%;
    flex: 1; /* Adjust as needed */
}
.description-simple-movie {
    display: none;
    max-width: 50%;
    color: var(--text-color);
    transform: translate(50%, -75%);
    position: absolute;
    padding: 10px;
}

.genre-simple-movie {
    text-align: right;
    flex: 1; /* Adjust as needed */
}
@media screen and (min-width: 700px) {
    .container-simple-movie:hover .description-simple-movie {
        display: block;
    }
}


/* MOVIE VIEW */
.movie-page {
    display: grid;
    grid-template-columns: 2fr 3fr;

}

.movie-header {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: flex-start; /* Aligns items to the start of the flex container */
}


.movie-image {
    max-width: 95%;
    margin: 5%;
}
@media screen and (max-width: 700px) {
    .movie-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
}

.movie-title {
    font-size: clamp(16px, 3rem, 100px);
    text-align: left;
    margin: 5%;
}

.movie-details {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 0 1rem 1rem 1rem;
    line-height: 3rem;
}
.movie-description {
    grid-column: span 2;
    width: 90%;
    margin: 1rem auto;
}
.movie-goto-book {


}

.select-cinema-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dropdown {
    margin-right: 1%;
    border: 1px solid var(--container-secondary);
    background-color: var(--container-secondary);
    color: var(--text-color)
}

.movie-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    width: clamp(150px, 15vw, 500px);
}

/* Title inside the movie card */
.movie-card-title {
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Container for movie cards */
.container-card-movie {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    justify-content: space-evenly;
    gap: 1rem;
}

/* Hover effect for movie cards */
.movie-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

