{% extends 'base.html.twig' %}

{% block body %}
    <h1>Symfony Cinema</h1>
    <div class="section" data-section="1">
        <h2> TITLE</h2>
        <ul>
            <li>Lotem idspaD FSD DSF SDFF</li>
            <li>Lotem idspaD FSD DSF SDFF</li>
            <li>Lotem idspaD FSD DSF SDFF</li>
        </ul>
        <hr class="section-divider"></hr>
    </div>
    <div class="section" data-section="2">
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    <h1>dd</h1>
    </div>
{% endblock %}