<footer>
    <p>This application is designed for educational purposes only and was developed by Klaudiusz P. and Kacper K. as part of their apprenticeship.
    The content and functionalities are intended solely for learning and demonstration.
    Please note that the application should not be used as a substitute for professional advice or service
        and reservations for movie screenings are purely fictional and require no payment.</p>
</footer>