<a href="{{ path("app_home_movie", {"movie": movie.id}) }}">
<div class="movie-card">
    <img loading="lazy" src="{{ asset(movie.image) }}">
    <div class="movie-card-title">{{ movie.title }}</div>
</div>
</a>