<nav class="navbar">
    <div class="navbar-logo">Logo</div>

    <div class="navbar-links">
        <div class="container-always-visible">
            <input class="navbar-search always-visible" placeholder="Quick-search for a movie"></input>
            <button class="navbar-toggle always-visible">☰</button>
        </div>
        <a href="#">Home</a>
        <a href="#yourpath">Placeholder</a>
        <a href="#to_section_search_below_changme">Book a ticket now</a>
        <a class="theme-toggle">Toggle theme</a>
        <!-- Add other links as needed -->
    </div>
</nav>