{% if app.user %}
<div class="rating">
    <form action="{{ path('app_rate', {'movie': movie.id}) }}">
        <a href="/rate" class="star" id="star-5" value="5"></a>
        <a href="/rate" class="star" id="star-4" value="4"></a>
        <a href="/rate" class="star" id="star-3" value="3"></a>
        <a href="/rate" class="star" id="star-2" value="2"></a>
        <a href="/rate" class="star" id="star-1" value="1"></a>
    </form>
</div>
{% endif %}