<div class="rating">
    <!-- 5 stars, each with a full and half input -->
    <!-- Star 1 -->

    <input type="radio" name="rating" id="star-1-full" value="1">
    <label for="star-1-full" class="full"></label>

    <input type="radio" name="rating" id="star-2-full" value="2">
    <label for="star-2-full" class="full"></label>

    <input type="radio" name="rating" id="star-3-full" value="3">
    <label for="star-3-full" class="full"></label>

    <input type="radio" name="rating" id="star-4-full" value="4">
    <label for="star-4-full" class="full"></label>


    <input type="radio" name="rating" id="star-5-full" value="5">
    <label for="star-5-full" class="full"></label>
</div>
